**/Makefile
**/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h?
/compile
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*.o
*.class
*.jar
m4/libtool.m4
m4/ltmain.sh
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
GUI/DimemasGUI
GUI/DimemasGUI_tmp
GUI/MANIFEST.MF
GUI/src/classnoinst.stamp
GUI/src/new_DIST_NOINST_JAVA.include
Simulator/Dimemas
Simulator/input/lex.c
Simulator/input/yacc.c
Simulator/input/yacc.h
prv2dim/prv2dim
ylwrap
.vscode/
